<%- include ./layout/asset/head.ejs %>
<link rel="stylesheet" href="/stylesheets/user.css">
<%- include ./layout/asset/body.ejs %>
 <div class="profile">
   <div class="profile-avatar">
    <a href="/u/<%= user.name %>" style="background-image:url(<%= user.avatar %>)" class="user-icon"></a>
    <input type="file" name="avatar" class="input-avatar">
   </div>
   <div class="profile-info">
     <p><%= user.name %></p>
   </div>
 </div>
 <div class="profile-group">
   <a href="/u/<%= user.name %>/articles" class="profile-me">
     <i class="icon icon-article"></i>
     <p class="profile-link" >我的文章</p>
   </a>
   <a href="/u/<%= user.name %>/articles" class="profile-me">
     <i class="icon icon-comment"></i>
     <p class="profile-link" >我的评论</p>
   </a>
 </div>
</article>
</div>
<%- include ./layout/footer %>
